.pagination {
  display: flex;
  justify-content: center;
  margin-top: -55px;
}

.pagination ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.pagination a {
  display: block;
  padding: 8px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  transition: all 0.2s ease;
}

.pagination a:hover {
  background-color: #a3b5ff;
  border-color: #aaa;
}

.pagination a.active {
  background: #646cff;
  color: #fff;
  border-color: #333;
  transform: scale(1.2);
  font-weight: bold;
  padding: 10px 16px;
}

.paginationWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  bottom: 0;
  padding-bottom: 40px;
}
