.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  padding: 12px 16px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.25s ease;
  border: 1px solid transparent;
}

.category-item:hover {
  background: #fff;
  border-color: #ccc;
  transform: translateX(5px);
}

.category-item.active {
  background: #000;
  color: #fff;
  border-color: #000;
  transform: translateX(8px);
}

.panel-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-top: 10px;
}

.category-link-wrapper {
  text-decoration: none;
  color: black;
  display: block;   
}

.category-link-wrapper.active {
  color:  #646cff;;
  font-weight: 600;
}

